body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}
.container{
    max-width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label, input, select{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
button{
    background: #6200ea;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.character-sheet{
    margin-top: 20px;
    padding: 10px;
    background: #ddd;
    border-radius: 5px;
}

.extra-parameters{
    margin-top: 20px;
    padding: 15px;
    background: #e8e8e8;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.extra-parameters label,
.extra-parameters input,
.extra-parameters select,
.extra-parameters textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;

}

.extra-parameters textarea {
    height: 60px;
}

.character-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
}

.container, .extra-parameters{
    flex: 1;
    padding: 15px;
    background: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

.container{
    max-width: 55%;
}

.extra-parameters{
    max-width: 40%;
}

@media(max-width: 768px){
    .character-container{
        flex-direction: column;
    }
    
    .container, .extra-parameters{
        max-width: 100%;
    }
}
